@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
/* Hide scrollbar in all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
